.about {
  background: $fourth-background;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-left:0;
  

  &__tittle {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: $fourth-background;
  }

  &__tittle-style{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }

  &__tittle-second {
    color: $third-font-color;
    font-size: 18px;
    line-height: 21px;
    padding-top: 125px;
    padding-bottom: 15x;
    margin-bottom:0;
    margin-top:0;
    

    @media screen and (min-width:768px) {
      width: 285px;
      height: 30px;
      font-size: 26px;
      line-height: 30px;
      padding-bottom:16px;
    }

    @media screen and (min-width:1280px) {
      width: 351px;
      height: 34px;
      font-size: 30px;
      line-height: 34px;
      padding-bottom:15px;
    }
  }

  &__tittle-main {
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    color: $first-font-color;
    width: 200px;
    height: 76px;
    max-width: 100%;
    padding-top: 15px;
    margin-top:0;
    
    


    @media screen and (min-width:768px) {
      font-size: 48px;
      line-height: 55px;
      width: 429px;
      height: 55px;
      max-width: 100%;
      margin-top:16px;
      margin-bottom:0;
    }

    @media screen and (min-width:1280px) {
      font-size: 58px;
      line-height: 66px;
      max-width: 100%;
      width: 534px;
      height: 66px;
      padding-top:15px;
      letter-spacing: 0.06em;
      overflow:visible;
      
    }
  }

  &__block {
    // position: absolute;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top:26px;
    


    @media screen and (min-width:768px) {
      flex-direction: row;
      padding-top: 50px;
      padding-left:5px;
      margin-top:0;
      align-items: flex-start;
    }

    @media screen and (min-width:1280px) {
      // padding-top: -50px;
    }
  }

  &__block-picture {
    // position: relative;
    padding-top: 26px;
    margin: 0;
    width:280px;
    height: 279px;

    &::after {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width:768px) {
      width: 340px;
      height: 339px;
      padding-top:0;
    }

    @media screen and (min-width:1280px) {
      width: 516px;
      height: 516px;
    }
  }

  &__block-text {
    padding-left: 30px;
    padding-right: 30px;
    padding-top:50px;

    @media screen and (min-width:768px) {
      // margin-top: 100px;
      padding-left: 0;
      padding-right: 16px;
    }

    @media screen and (min-width:1280px) {
      margin-top: 40px;
      
    }
  }

  &__block-text1 {
    color: $fourth-font-color;
    margin: 0;
    text-align: left;
    

    @media screen and (min-width:768px) {
      padding: 0;
      margin-left: 17px;
      padding-bottom:30px;
      line-height: 25px;
    }

    @media screen and (min-width:1280px) {
      margin-left: 74px;
      width: 463px;
      height: 79px;
      line-height: 28px;
      padding-right:97px;
      margin-bottom:34px;
    }
  }

  &__block-text2 {
    color: $fifth-font-color;
    margin: 0;
    padding-top: 47px;
    max-width: 100%;
    text-align: left;
    

    @media screen and (min-width:768px) {
      padding: 0;
      margin-left: 17px;
      padding-bottom:10px;
      line-height: 25px;
    }

    @media screen and (min-width:1280px) {
      margin-left: 74px;
      width: 463px;
      height: 79px;
      letter-spacing: 4%;
      line-height: 28px;
      padding-right:97px;
      margin-bottom:50px;
    }
  }
  &__block-text3{
     margin:0;
     color: $fifth-font-color;
     margin: 0;
     max-width: 100%;
     text-align: left;
     padding-top:10px;

    @media screen and (min-width:768px) {
      padding: 0;
      margin-left: 17px;
      padding-bottom: 47px;
      line-height: 25px;
      }
    
    @media screen and (min-width:1280px) {
      margin-left: 74px;
      line-height: 28px;
      padding-top:10px;
      }
  }

  &__block-button {
    text-align: left;

    @media screen and (min-width:768px){
      margin-left:0;
      padding-left:17px;
    }
    @media screen and (min-width:1280px){
      padding-left:60px;
    }

  }

  &__button {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    color: $first-font-color;
    width: 176px;
    height: 44px;

    background: #ffffff;
    margin-bottom: 39px;
    margin-top: 17px;
    cursor: pointer;
    border-color: #ffffff;
    border-radius: 22px;
    border: 0;
    
  }

  @media screen and (min-width:768px) {
    margin-left: 55px;
    margin-top: 44px;
  }

  @media screen and (min-width:1280px) {
    margin-left: 74px;
    margin-top: 27px;
  }

}