.products__subtitle {
    display: block;
    color: $third-font-color;
    font-family: $second-font;
    font-size: 20px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
.products__title {
    display: block;
    color: $first-font-color;
    font-family: $second-font;
    font-size: 34px;
    line-height: 1.144;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 0;
    padding-bottom: 140px;
}
.products__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 130px;
    padding: 0;
}
.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
    position: relative;
}
.products__name {
    display: block;
    font-family: $second-font;
    color: $second-font-color;
    font-size: 20px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
}
.products__name::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 6px;
    top: 220px;
    left: 25vw;
    fill: white;
    stroke: white;
    z-index: 99;
    background-image: url(./../images/icons.svg#icon-products__icon-3dots);
}
.products__text {
    display: block;
    color: $second-font-color;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 0 40px;
}
.products__background {
    border-radius: 24px;
    width: 100%;
    position: relative;
}
.products__background--one {
    background-color: $first-background;
}
.products__background--one::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 25px;
    width: 249px;
    height: 252px;
    background-image: url(./../images/products__product1-mobile.png);
}
.products__background--two {
    background-color: $second-background;
}
.products__background--two::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 25px;
    width: 249px;
    height: 252px;
    background-image: url(./../images/products__product2-mobile.png);
}
.products__background--three {
    background-color: $third-background;
}
.products__background--three::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 25px;
    width: 249px;
    height: 252px;
    background-image: url(./../images/products__product3-mobile.png);
}