.products__subtitle {
    display: block;
    color: $third-font-color;
    font-family: $second-font;
    font-size: 20px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    text-align: center;
}
.products__title {
    display: block;
    color: $first-font-color;
    font-family: $second-font;
    font-size: 34px;
    line-height: 1.144;
    letter-spacing: 0.04em;
    text-align: center;
}
.products__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-item--pink {
    background-color: $first-background;
}
.products-item--orange {
    background-color: $second-background;
}
.products-item--green {
    background-color: $third-background;
}
.products__name {
    display: block;
    font-family: $second-font;
    color: $second-font-color;
    font-size: 20px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    text-align: center;
}
.products__text {
    display: block;
    color: $second-font-color;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.04em;
    text-align: center;
}
