.products__subtitle {
    display: block;
    color: $third-font-color;
    font-family: $second-font;
    font-size: 20px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
.products__title {
    display: block;
    color: $first-font-color;
    font-family: $second-font;
    font-size: 34px;
    line-height: 1.144;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 0;
}
.products__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 130px;
    padding: 0;
}
.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
}
.products__name {
    display: block;
    font-family: $second-font;
    color: $second-font-color;
    font-size: 20px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    text-align: center;
}
.products__name::after {
    display: block;
    content: "";
    width: 26px;
    height: 6px;
    bottom: 30px;
}
.products__text {
    display: block;
    color: $second-font-color;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 0 40px;
}
.products__background {
    border-radius: 24px;
    width: 100%;
    position: relative;
}
.products__background--one {
    background-color: $first-background;
}
.products__background--one::before {
    content: "";
    display: block;
    position: absolute;
    position: top;
    width: 249px;
    height: 252px;
    background-image: url();
    background-size: contain;
}
.products__background--two {
    background-color: $second-background;
}
.products__background--two::before {
    content: "";
    display: block;
    position: absolute;
    position: top;
    width: 249px;
    height: 252px;
    background-image: url();
    background-size: contain;
}
.products__background--three {
    background-color: $third-background;
}
.products__background--three::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 2vw;
    width: 249px;
    height: 252px;
    background-image: url();
    background-size: contain;
}