/* Main stylesheet*/
/* Components */
/* ------FONTS------- */
/* ------COLORS------ */
/* buttons background and brand text color, active page */
/* ---background colors--- */
/* header and first product card */
/* second product card, contacts category */
/* third product card, contacts category */
/* about, advantages, contacts and footer */
/* buttons, contacts cards */
/* customer reviev */
/* hover */
/* fonts color */
/* brand color*/
/* contrast text in: header, mobile menu, products card, contacts category */
/* section title label */
/* black text in: about, advantages, customer reviev, contacts, footer */
/* minor text in: about, contacts, footer */
/* ------MIXIN------ */
/* reminder how to use mixin in media queries:
.products {
  gap: 20px;

  @include desktop {
    gap: 24px;
  }
} 
*/
.body {
  margin: 0 auto;
  min-width: 320px;
  font-family: "DM Sans", sans-serif, "Titan One", cursive, sans-serif;
  background: #e5e5e5;
  color: #d41443;
  font-weight: 400;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  min-width: 320px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 34px;
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding: 0 115px;
    max-width: 1280px;
  }
}

.hamburger {
  display: block;
}
@media (min-width: 1280px) {
  .hamburger {
    display: none;
  }
}

.hamburger__icon {
  background-color: inherit;
  fill: #d41443;
  border: 0;
  will-change: fill;
  transition: fill 250ms;
}
.hamburger__icon:hover, .hamburger__icon:focus {
  fill: #c7133e;
}

.mobile-menu {
  position: absolute;
  z-index: 99;
  display: none;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  padding: 60px 24px;
  background-color: #e17992;
  transform: translateX(100%);
  will-change: transform;
  transition-property: transform;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .mobile-menu {
    width: 254px;
  }
}

.is-open {
  display: block;
  transform: translatex(0%);
}

.mobile-menu__x-button {
  position: absolute;
  top: 23px;
  right: 28px;
  color: #ffffff;
  border: 0;
}

.mobile-menu__button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #d41443;
  background-color: #ffffff;
  border: 0;
  border-radius: 22px;
  padding: 12px 50px;
}
@media (min-width: 768px) {
  .mobile-menu__button {
    margin: 0 10px;
  }
}

.mobile-menu__icon {
  background-color: inherit;
  stroke: #d41443;
}

.mobile-menu__icon-arrow {
  stroke: #d41443;
}

.mobile-menu__list {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
}

.mobile-menu__item {
  font-size: 14px;
  line-height: 1.3;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 22px;
}
.mobile-menu__item:first-child {
  padding-top: 32px;
}

.mobile-menu__link {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.mobile-menu__link--active {
  color: #d41443;
}

/* Partials*/
.contacts__media > a {
  text-decoration: none;
  color: inherit;
}

.contacts .container {
  padding: 0;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff5f6;
}
@media (min-width: 1280px) {
  .contacts {
    max-width: 100%;
    background-image: url("../images/contacts__background-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url("../images/contacts__background-desktop@2x.png");
  }
}
.contacts__title {
  visibility: hidden;
  position: absolute;
}
.contacts__list {
  min-width: 220px;
  width: 100%;
  padding: 0 50px 0 50px;
  margin-top: -84px;
  list-style: none;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contacts__list {
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0 36px 0 36px;
    margin-top: -78px;
  }
}
@media (min-width: 1280px) {
  .contacts__list {
    gap: 30px;
    margin-top: -102px;
    padding: 0 115px 0 115px;
  }
}
.contacts__item {
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  background-color: #ffffff;
  padding: 43px 21px;
  position: relative;
  border-radius: 24px;
  min-width: 220px;
  width: 100%;
  height: 427px;
}
@media (min-width: 768px) {
  .contacts__item {
    padding: 50px 31px;
    height: 544px;
  }
}
@media (min-width: 1280px) {
  .contacts__item {
    padding: 50px 43px;
    height: 572px;
  }
}
.contacts__box {
  display: flex;
  flex-direction: column;
}
.contacts__heading {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
}
.contacts__heading--cafe {
  width: 80px;
  background-color: #f0d1a5;
}
@media (min-width: 768px) {
  .contacts__heading--cafe {
    width: 73px;
    font-size: 16px;
  }
}
.contacts__heading--foodtruck {
  width: 130px;
  background-color: #c2e297;
}
@media (min-width: 768px) {
  .contacts__heading--foodtruck {
    width: 138px;
    font-size: 16px;
  }
}
.contacts__address {
  padding-top: 25px;
  min-width: 179px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #000000;
}
@media (min-width: 768px) {
  .contacts__address {
    padding-top: 30px;
    font-size: 14px;
    max-height: 157px;
  }
}
@media (min-width: 1280px) {
  .contacts__address {
    padding-top: 32px;
    font-size: 16px;
    max-height: 234px;
  }
}
.contacts__city {
  margin: 0 0 10px 0;
}
.contacts__desc {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  width: 100%;
  color: #907e82;
  flex-direction: column;
  margin: 0;
}
.contacts__desc::after {
  content: "";
  width: 100%;
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .contacts__desc::after {
    padding-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .contacts__desc::after {
    padding-bottom: 32px;
    font-size: 16px;
  }
}
.contacts__open {
  margin: 25px 0 0 0;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
}
.contacts__open::after {
  content: "";
  width: 100%;
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 15px;
  margin: 0 0 25px 0;
}
@media (min-width: 768px) {
  .contacts__open::after {
    margin: 5px 0 30px 0;
  }
}
@media (min-width: 768px) {
  .contacts__open {
    margin-top: 30px;
    font-size: 14px;
    line-height: 186%;
  }
}
@media (min-width: 1280px) {
  .contacts__open {
    padding-bottom: 32px;
    font-size: 16px;
  }
}
.contacts__days {
  margin: 0;
}
.contacts__hours {
  margin: 0 0 10px 0;
  color: #ffa5ba;
}
.contacts__media {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #907e82;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contacts__media {
    font-size: 14px;
    line-height: 186%;
  }
}
@media (min-width: 1280px) {
  .contacts__media {
    font-size: 16px;
  }
}
.contacts__box-buttons {
  background-color: #fff5f6;
  padding-top: 54px;
  padding-bottom: 113px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .contacts__box-buttons {
    flex-direction: row;
    gap: 15px;
  }
}
.contacts__button {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  transition: background-color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contacts__button--red {
  background-color: #d41342;
  color: #ffffff;
}
@media (min-width: 768px) {
  .contacts__button--red {
    width: 191px;
  }
}
@media (min-width: 1280px) {
  .contacts__button--red {
    width: 198px;
  }
}
.contacts__button--white {
  background-color: #ffffff;
  color: #d41443;
}
@media (min-width: 768px) {
  .contacts__button--white {
    width: 175px;
  }
}
@media (min-width: 1280px) {
  .contacts__button--white {
    width: 180px;
  }
}
.contacts .contacts__button--red:hover,
.contacts .contacts__button--red:focus {
  background-color: #ffffff;
  color: #d41443;
}
.contacts .contacts__button--white:hover,
.contacts .contacts__button--white:focus {
  background-color: #d41342;
  color: #ffffff;
}
.contacts .contacts__button--red:hover .contacts__icon--red,
.contacts .contacts__button--red:focus .contacts__icon--red {
  fill: #ffffff;
  stroke: #d41342;
}
.contacts .contacts__button--white:hover .contacts__icon--white,
.contacts .contacts__button--white:focus .contacts__icon--white {
  fill: #d41342;
  stroke: #ffffff;
}
.contacts .contacts__icon--red {
  fill: #d41342;
  stroke: #ffffff;
  padding-left: 4px;
  transition: fill 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contacts .contacts__icon--white {
  fill: #ffffff;
  stroke: #d41342;
  padding-left: 4px;
}/*# sourceMappingURL=main.css.map */