<section id="contacts" class="contacts"></section>
<div class="container">
  <h2 class="contacts__titel">Contacts</h2>
  <ul class="contacts__list">
    <li class="contacts__item">
      <p class="contacts__heading">CAFE</p>
      <div class="contacts__adres">
        <p class="contacts__city">Chicago</p>
        <p class="contacts__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <div class="contacts__open">
        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__hours">06:00 AM - 10:00 PM</p>
        <address class="contacts__adress"></address>
        <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>
        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
    <li class=""></li>
    <li class=""></li>
  </ul>
</div>
