<!----------do usunięcia ---->
<section class="test">
  <span class="test">test</span>
  <span>test</span>
  <span>test</span>
  <span>test</span>
  <span>test</span>
</section>
<!--------------------------->

<section id="contacts" class="contacts">
  <div class="container">
    
    <h2 class="contacts__titel">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__box">    
        <p class="contacts__heading contacts__heading--cafe">CAFE</p>
          <div class="contacts__address">
            <p class="contacts__city"><b>Chicago</b></p>
            <p class="contacts__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__open">
            <p class="contacts__days"><b>Monday - Friday</b></p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__days"><b>Saturday - Sunday</b></p>
            <p class="contacts__hours">08:00 AM - 16:00 PM</p>
          </div>
          <address class="contacts__media">
            <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__box">  
        <p class="contacts__heading contacts__heading--foodtruck">FOODTRUCK</p>
          <div class="contacts__address">
            <p class="contacts__city"><b>Los Angeles</b></p>
            <p class="contacts__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__open">
            <p class="contacts__days"><b>Monday - Friday</b></p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__days"><b>Saturday - Sunday</b></p>
            <p class="contacts__hours">08:00 AM - 16:00 PM</p>
          </div>
          <address class="contacts__media">
            <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>
      <li class="contacts__item">
         <div class="contacts__box">
        <p class="contacts__heading contacts__heading--cafe">CAFE</p>
          <div class="contacts__address">
            <p class="contacts__city"><b>New York</b></p>
            <p class="contacts__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__open">
            <p class="contacts__days"><b>Monday - Friday</b></p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts__days"><b>Saturday - Sunday</b></p>
            <p class="contacts__hours">08:00 AM - 16:00 PM</p>
          </div>
          <address class="contacts__media">
            <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>
            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>
    </ul>

   <div class="contacts__box-buttons">
      <button class="contacts__button contacts__button--red" type="button">
        Our Locations
        <svg class="contacts__icon--red" width="10" height="9">
          <use href="./images/icons.svg#icon-greater-value-sign"></use>
        </svg>
      </button>
      <button class="contacts__button contacts__button--white" type="button">
        Franchise
        <svg class="contacts__icon--white" width="10" height="9">
          <use href="./images/icons.svg#icon-greater-value-sign"></use>
        </svg>
      </button>
    </div>
    
  </section>

