<section id="contacts" class="contacts__section "></section>
<div class="container">
  <h2 class="contacts__title">Contacts</h2>
  <ul class="contacts__list">
    <li class="contacts__card">
      <p class="contacts__city">Chicago</p>
      <p class="contacts__desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__open">
        <p class="contacts__days"></p>
        <p class="contacts__hours"></p>
      </div>
      <address class="contacts__address">
        <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </address>
    </li>
  </ul>
</div>
