<!-- Custom reviews section -->

<section class="container customers-reviews">
  <!-- Unvisible header -->

  <h2 class="customer-reviews__header">Cutomers reviews</h2>

  <!-- Review item -->

  <img src="" alt="Reviewer's picture" class="customer-reviews__picture" />
  <div class="customer-reviews__review">
    <p class="customer-reviews__text"></p>
  </div>
  <svg class="custom-reviews__dots-icon" width="32" height="4">
    <use href=""></use>
  </svg>
  <p class="customer-reviews__signature">Emily, Los Angeles</p>

  <!-- Slider -->

  <ul class="slider">
    <li>
      <svg class="slider__home-icon" width="32" height="4">
        <use href=""></use>
      </svg>
    </li>
    <li>
      <svg class="slider__square-icon" width="32" height="4">
        <use href=""></use>
      </svg>
    </li>
    <li>
      <svg class="slider__square-icon" width="32" height="4">
        <use href=""></use>
      </svg>
    </li>
  </ul>
</section>

<!-- End of Customer reviews section -->
