<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__top-division">
        <h2 class="footer__top-division-title">
          HOMEMADE ICE CREAM MADE<span class="footer__top-division-title--different-part"
            >WITH PASSION</span
          >
        </h2>
      </div>
      <div class="footer__contacts-division">
        <ul class="footer__social-list">
          <li class="footer__social-list-element">
            <a class="footer__social-link" target="_blank" href="https://github.com/"
              ><svg class="footer__svg" width="20" height="20">
                <use href="./images/icons.svg#icon-github"></use></svg
            ></a>
          </li>
          <li class="footer__social-list-element">
            <a class="footer__social-link" target="_blank" href="https://telegram.org/"
              ><svg class="footer__svg" width="20" height="20">
                <use href="./images/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="footer__social-list-element">
            <a class="footer__social-link" target="_blank" href="https://www.facebook.com/"
              ><svg class="footer__svg" width="20" height="20">
                <use href="./images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <div class="footer__contact">
          <p class="footer__contact-text">Feel free to contact</p>
          <a class="footer__contact-phone" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <ul class="footer__copyright-list">
        <li class="footer__copyright-list-element">© 2019 - IceCream.</li>
        <li class="footer__copyright-list-element">All Rights Reserved.</li>
      </ul>
    </div>
  </div>
</footer>
