<footer class="footer">
  <div class="container">
    <div class="footer__box-title">
      <p class="footer__subtitle">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
    </div>
    <div class="footer__box-social">
        <ul>
<li>github</li>
<li>telegram</li>
<li>facebook</li>
        </ul>
    </div>
    <p class="footer__contact">feel free to contact
        <a class="footer__phone" href="tel:+48 0700 ">+ 48 0700 200</a>
    </p>
  </div>
  <span class="footer_underline">
    <p class="footer__copyright"> 2019 - Ice Cream. All Rigths Reserved.</p>
  </span>
</footer>
