<section class="gallery" id="gallery">
  <h2 class="gallery__title">Gallery</h2>
  <div class="container gallery__container">
    <div class="gallery__wrapper">
      <picture>
        <source
          srcset="./images/gallery-photo1-mobile.png 1x, ./images/gallery-photo1-mobile@2x.png 2x"
          media="(max-width: 767px)"
          type="image/png"
        />

        <source
          srcset="./images/gallery-photo1-tablet.png 1x, ./images/gallery-photo1-tablet@2x.png 2x"
          media="(min-width: 768px) and (max-width: 1279px)"
          type="image/png"
        />

        <source
          srcset="./images/gallery-photo1-desktop.png 1x, ./images/gallery-photo1-desktop@2x.png 2x"
          media="(min-width: 1280px)"
          type="image/png"
        />

        <img
          class="gallery__image"
          src="./images/gallery-photo1-mobile.png"
          alt="photo of green ice cream"
        />
      </picture>
    </div>

    <div class="gallery__wrapper">
      <ul class="gallery__list gallery__list-second-column">
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery-photo2-mobile.png    1x,
                ./images/gallery-photo2-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo2-tablet.png    1x,
                ./images/gallery-photo2-tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo2-desktop.png    1x,
                ./images/gallery-photo2-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />

            <img
              class="gallery__image"
              src="./images/gallery-photo2-mobile.png"
              alt="photo of pink ice cream cone"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery-photo3-mobile.png    1x,
                ./images/gallery-photo3-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo3-tablet.png    1x,
                ./images/gallery-photo3-tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo3-desktop.png    1x,
                ./images/gallery-photo3-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />

            <img
              class="gallery__image"
              src="./images/gallery-photo3-mobile.png"
              alt="photo of pink ice cream with raspberries"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="gallery__wrapper">
      <ul class="gallery__list">
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery-photo4-mobile.png    1x,
                ./images/gallery-photo4-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo4-tablet.png    1x,
                ./images/gallery-photo4-tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo4-desktop.png    1x,
                ./images/gallery-photo4-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />

            <img
              class="gallery__image"
              src="./images/gallery-photo4-mobile.png"
              alt="big photo with a lot of ice cream"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery-photo5-mobile.png    1x,
                ./images/gallery-photo5-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo5-tablet.png    1x,
                ./images/gallery-photo5-tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo5-desktop.png    1x,
                ./images/gallery-photo5-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />

            <img
              class="gallery__image"
              src="./images/gallery-photo5-mobile.png"
              alt="photo of a woman eating ice cream"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="gallery__wrapper">
      <ul class="gallery__list gallery__list-fourth-column">
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery-photo6-mobile.png    1x,
                ./images/gallery-photo6-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo6-tablet.png    1x,
                ./images/gallery-photo6-tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo6-desktop.png    1x,
                ./images/gallery-photo6-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />

            <img
              class="gallery__image"
              src="./images/gallery-photo6-mobile.png"
              alt="photo of white ice cream in glass"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery-photo7-mobile.png    1x,
                ./images/gallery-photo7-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo7-tablet.png    1x,
                ./images/gallery-photo7-tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo7-desktop.png    1x,
                ./images/gallery-photo7-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />

            <img
              class="gallery__image"
              src="./images/gallery-photo7-mobile.png"
              alt="photo of red ice cream"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="gallery__wrapper">
      <ul class="gallery__list gallery__list-fifth-column">
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery-photo8-mobile.png    1x,
                ./images/gallery-photo8-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo8-tablet.png    1x,
                ./images/gallery-photo8-tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo8-desktop.png    1x,
                ./images/gallery-photo8-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />

            <img
              class="gallery__image"
              src="./images/gallery-photo8-mobile.png"
              alt="photo of a dog eating ice cream"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/gallery-photo9-mobile.png    1x,
                ./images/gallery-photo9-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo9-tablet.png    1x,
                ./images/gallery-photo9-tablet@2x.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/gallery-photo9-desktop.png    1x,
                ./images/gallery-photo9-desktop@2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />

            <img
              class="gallery__image"
              src="./images/gallery-photo9-mobile.png"
              alt="photo of ice coffee"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="gallery__wrapper">
      <picture>
        <source
          srcset="./images/gallery-photo10-mobile.png 1x, ./images/gallery-photo10-mobile@2x.png 2x"
          media="(max-width: 767px)"
          type="image/png"
        />

        <source
          srcset="./images/gallery-photo10-tablet.png 1x, ./images/gallery-photo10-tablet@2x.png 2x"
          media="(min-width: 768px) and (max-width: 1279px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/gallery-photo10-desktop.png    1x,
            ./images/gallery-photo10-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />

        <img
          class="gallery__image"
          src="./images/gallery-photo10-mobile.png"
          alt="photo of ice cream in a jar"
        />
      </picture>
    </div>
  </div>
</section>
