<!-- mobile-header features by MariGK -->

<!-- hamburger -->
<button type="button" class="hamburger menu-toggle js-open-menu">
  <svg class="hamburger__icon" width="20" height="12">
    <use href=""></use>
  </svg>
</button>

<!-- mobile menu -->
<div class="mobile-menu js-menu-container">
  <svg class="mobile-menu__toggle js-close-menu" width="14" height="14"><use src=""></use></svg>
  <a href="#" class=""
    ><button type="button" class="mobile-menu__button">
      Buy now <svg class="button__arrow"><use src=""></use></svg></button
  ></a>
  <ul class="mobile-menu__list">
    <li><a class="mobile-menu__link mobile-menu__link--active">Home</a></li>
    <li><a class="mobile-menu__link">About us</a></li>
    <li><a class="mobile-menu__link">How it's made?</a></li>
    <li><a class="mobile-menu__link">Our products</a></li>
    <li><a class="mobile-menu__link">Contact</a></li>
  </ul>
</div>

<!-- mobile-header end -->

<div class="header">
  <div class="header__background-image header__background-image--circle">
    <img src="./images/Ellipse 3.png" />
  </div>
  <div class="header__background-image header__background-image--icecream">
    <img src="./images/ice-cream.png" />
  </div>
  <div class="header__background-image header__background-image--lady">
    <img src="./images/ice-lady.png" />
  </div>
  <div class="header__coffe-info">
    <p class="header__coffe-amount">16</p>
    <p class="header__coffe-describe">cafes</p>
  </div>
  <div class="header__truck-info">
    <p class="header__truck-amount">23</p>
    <p class="header__truck-describe">food trucks</p>
  </div>
  <div class="header__bar-wrapper">
    <div class="header__logo">
      <img src="./images/logo.png" />
    </div>
    <nav class="header__navbar">
      <ul class="header__menu">
        <li>
          <a class="header__element header__element--active">Home</a>
        </li>
        <li><a class="header__element">About Us</a></li>
        <li><a class="header__element">How it's made?</a></li>
        <li><a class="header__element">Our products</a></li>
        <li><a class="header__element">Contact</a></li>
      </ul>
    </nav>
    <div class="header__btn-container">
      <svg class="header__burger" width="20" height="12">
        <use href="./images/header-sprite.svg#burger"></use>
      </svg>
      <div class="header__main-button">
        Buy now
        <svg class="header__button-ico" width="7" height="10">
          <use href="./images/header-sprite.svg#vector"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="header__leftside">
    <h1 class="header__title">
      ICE CREAM MADE WITH
      <p class="header__title header__title--describe">PASSION</p>
    </h1>
    <div class="header__buttons">
      <div class="header__left-button">Products</div>
      <div class="header__right-button">How it's made?</div>
    </div>
    <div class="header__left-bar-wrapper">
      <img class="header__deco-image" src="./images/milk.png" alt="mleko" />
      <div class="header__lorem-wrapper">
        <p class="header__describe-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <img class="header__btn-arrow" src="./images/arrow-right.png" />
      </div>
    </div>
  </div>

  <div class="header__center"></div>
  <div class="header__rightside"></div>
</div>
