<!-- mobile-header features by MariGK -->

<!-- hamburger -->
<!-- <button type="button" class="hamburger menu-toggle js-open-menu">
  <svg class="hamburger__icon" width="20" height="12">
    <use href="./images/icons.svg#icon-burger"></use>
  </svg>
</button> -->

<!-- mobile menu -->

<div class="mobile-menu js-menu-container">
  <button type="button" class="mobile-menu__x-button menu-toggle js-close-menu">
    <svg class="mobile-menu__icon" width="14" height="14">
      <use src="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <a href="#" class=""
    ><button type="button" class="mobile-menu__button">
      Buy now
      <svg class="mobile-menu__icon-arrow" width="5.26" height="8">
        <use src="./images/icons.svg#icon-greater-value-sign"></use>
      </svg></button
  ></a>
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="#hero-header" class="mobile-menu__link mobile-menu__link--active">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#about" class="mobile-menu__link">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#advantages" class="mobile-menu__link">How it's made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#products" class="mobile-menu__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#contacts" class="mobile-menu__link">Contact</a>
    </li>
  </ul>
</div>

<!-- mobile-header end -->

<!-- header start -->

<div class="header">
  <div class="header__background-image header__background-image--circle">
    <picture>
      <source
        srcset="
          ./images/header__big-circle-mobile.png    1x,
          ./images/header__big-circle-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/header__big-circle-tablet.png    1x,
          ./images/header__big-circle-tablet@2x.png 2x
        "
        media="(min-width: 768px) and (max-width:
      1279px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/header__big-circle-desktop.png    1x,
          ./images/header__big-circle-desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <img src="./images/header__big-circle-mobile.png" alt="Background ice circle" />
    </picture>
  </div>
  <div class="header__background-image header__background-image--icecream">
    <picture>
      <source
        srcset="
          ./images/header__ice-cream-mobile.png    1x,
          ./images/header__ice-cream-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/header__ice-cream-tablet.png    1x,
          ./images/header__ice-cream-tablet@2x.png 2x
        "
        media="(min-width: 768px) and (max-width:
      1279px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/header__ice-cream-desktop.png    1x,
          ./images/header__ice-cream-desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <img src="./images/header__ice-cream-mobile.png" alt="Smakowite i kolorowe lody" />
    </picture>
  </div>
  <div class="header__background-image header__background-image--lady">
    <picture>
      <source
        srcset="./images/header__girl-tablet.png 1x, ./images/header__girl-tablet@2x.png 2x"
        media="(min-width: 768px) and (max-width:
      1279px)"
        type="image/png"
      />
      <source
        srcset="./images/header__girl-desktop.png 1x, ./images/header__girl-desktop@2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <img src="./images/header__girl-tablet.png" alt="Dziewczyna zachwycona lodami" />
    </picture>
  </div>
  <div class="header__coffe-info">
    <p class="header__coffe-amount">16</p>
    <p class="header__coffe-describe">cafes</p>
  </div>
  <div class="header__truck-info">
    <p class="header__truck-amount">23</p>
    <p class="header__truck-describe">food trucks</p>
  </div>
  <div class="header__bar-wrapper">
    <div class="header__logo">
      <picture>
        <source srcset="./images/logo-all.png 1x, ./images/logo-all@2x.png 2x" type="image/png" />
        <img src="./images/logo-all.png" alt="Logo lodziarni" />
      </picture>
    </div>
    <nav class="header__navbar">
      <ul class="header__menu">
        <li>
          <a class="header__element header__element--active">Home</a>
        </li>
        <li><a class="header__element">About Us</a></li>
        <li><a class="header__element">How it's made?</a></li>
        <li><a class="header__element">Our products</a></li>
        <li><a class="header__element">Contact</a></li>
      </ul>
    </nav>
    <div class="header__btn-container">
      <svg class="header__burger hamburger menu-toggle js-open-menu" width="20" height="12">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
      <div class="header__main-button">
        Buy now
        <svg class="header__button-ico" width="7" height="10">
          <use href="./images/icons.svg#icon-greater-value-sign"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="header__leftside">
    <h1 class="header__title">
      ICE CREAM MADE WITH
      <p class="header__title header__title--describe">PASSION</p>
    </h1>
    <div class="header__buttons">
      <div class="header__left-button">Products</div>
      <div class="header__right-button">How it's made?</div>
    </div>
    <div class="header__left-bar-wrapper">
      <picture class="header__deco-image">
        <source
          srcset="./images/header__milk-tablet.png 1x, ./images/header__milk-tablet@2x.png 2x"
          media="(min-width: 768px) and (max-width:
        1279px)"
          type="image/png"
        />
        <source
          srcset="./images/header__milk-desktop.png 1x, ./images/header__milk-desktop@2x.png 2x"
          media="(min-width: 1280px)"
          type="image/png"
        />
        <img src="./images/header__milk-tablet.png" alt="Mleko się rozlało." />
      </picture>
      <div class="header__lorem-wrapper">
        <p class="header__describe-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <img class="header__btn-arrow" src="./images/icon-arrow-in-circle-all.png" />
      </div>
    </div>
  </div>

  <div class="header__center"></div>
  <div class="header__rightside"></div>
</div>
<!-- header end -->
