<section class="products">
    <div class="container">
        <p class="products__subtitle">100% NATURAL</p>
        <h2 class="products__title">PRODUCTS</h2>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__background products__background--one">
                    <h3 class="products__name">ICE CREAM</h3>
                    <p class="products__text">Lorem ipsum dolor sit</br> amet, consectetur<br/> adipiscing elit, sed do<br/> eiusmod tempor incididunt<br/> ut labore et. dolore magna aliqua facilisis. 
                    </p>
                    <a class="products__link" href="#">
                        <img
                            class="products__image"
                            src="./../images/icon-arrow-in-circle-all.png"
                            srcset="./../images/icon-arrow-in-circle-all@2x.png 2x"
                            alt="arrow in a circle"
                            width="40"
                            height="40"
                        />
                    </a>
                </div>
            </li>
            <li class="products__item">
                <div class="products__background products__background--two">
                    <h3 class="products__name">ICE COFFEE</h3>
                    <p class="products__text">Lorem ipsum dolor sit<br/> amet, consectetur<br/> adipiscing elit, sed do<br/> eiusmod tempor incididunt<br/> ut labore et. dolore magna aliqua facilisis. 
                    </p>
                    <a class="products__link" href="#">
                        <img
                            class="products__image"
                            src="./../images/icon-arrow-in-circle-all.png"
                            srcset="./../images/icon-arrow-in-circle-all@2x.png 2x"
                            alt="arrow in a circle"
                            width="40"
                            height="40"
                        />
                    </a>
                </div>
            </li>
            <li class="products__item">
                <div class="products__background products__background--three">
                    <h3 class="products__name">MILKSHAKES</h3>
                    <p class="products__text">Lorem ipsum dolor sit<br/> amet, consectetur<br/> adipiscing elit, sed do<br/> eiusmod tempor incididunt<br/> ut labore et. dolore magna aliqua facilisis. 
                    </p>
                    <a class="products__link" href="#">
                        <img
                            class="products__image"
                            src="./../images/icon-arrow-in-circle-all.png"
                            alt="arrow in a circle"
                            width="40"
                            height="40"
                        />
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>