<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle">100% NATURAL</p>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__background products__background--one">
          <h3 class="products__name">ICE CREAM</h3>
          <div class="products__icon-box">
            <svg class="products__icon" width="26" height="6">
              <use href="./images/icons.svg#products__icon-3dots"></use>
            </svg>
          </div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button
            class="products__button products__button--one"
            type="button"
            aria-labelledby="products__overlay"
          ></button>
          <div class="products__overlay products__overlay-background products__overlay--one">
            <p class="products__overlay-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime quaerat quae
              consequatur, repellendus ipsa. Tempora saepe culpa expedita error veniam numquam,
              assumenda voluptas mollitia accusantium, ducimus officia, deleniti odit veritatis
              architecto neque facere distinctio temporibus maxime fuga eum fugiat nisi!
            </p>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__background products__background--two">
          <h3 class="products__name">ICE COFFEE</h3>
          <div class="products__icon-box">
            <svg class="products__icon" width="26" height="6">
              <use href="./images/icons.svg#products__icon-3dots"></use>
            </svg>
          </div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button
            class="products__button products__button--two"
            type="button"
            aria-labelledby="products__overlay"
          ></button>
          <div class="products__overlay products__overlay-background products__overlay--two">
            <p class="products__overlay-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime quaerat quae
              consequatur, repellendus ipsa. Tempora saepe culpa expedita error veniam numquam,
              assumenda voluptas mollitia accusantium, ducimus officia, deleniti odit veritatis
              architecto neque facere distinctio temporibus maxime fuga eum fugiat nisi!
            </p>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__background products__background--three">
          <h3 class="products__name">MILKSHAKES</h3>
          <div class="products__icon-box">
            <svg class="products__icon" width="26" height="6">
              <use href="./images/icons.svg#products__icon-3dots"></use>
            </svg>
          </div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button
            class="products__button products__button--three"
            type="button"
            aria-labelledby="products__overlay"
          ></button>
          <div class="products__overlay products__overlay-background products__overlay--three">
            <p class="products__overlay-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime quaerat quae
              consequatur, repellendus ipsa. Tempora saepe culpa expedita error veniam numquam,
              assumenda voluptas mollitia accusantium, ducimus officia, deleniti odit veritatis
              architecto neque facere distinctio temporibus maxime fuga eum fugiat nisi!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
