.footer {
  background-color: $fourth-background;
}

.footer__box-title {
  display: flex;
  flex-direction: column;
}

.footer__subtitle {
  font-family: $second-font;
  color: $third-font-color;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.166;
  width: 232px;

  @include tablet {
    font-size: 26px;
    width: 340px;
    line-height: 1.14;
    padding-left: 36px;
  }

  @include desktop {
    font-size: 30px;
    width: 472px;
    padding-left: 114px;
  }
}
.footer__title {
  display: block;
  font-family: $second-font;
  color: $brand-color;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.147;
  padding-bottom: 43px;
  width: 200px;

  @include tablet {
    font-size: 48px;
    line-height: 1.145;
    padding-left: 36px;
    padding-top: 16px;
  }

  @include desktop {
    font-size: 58px;
    width: 474px;
    line-height: 1.145;
    padding-left: 114px;
    padding-top: 15px;
  }
}

.footer__social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @include desktop {
    justify-content: flex-end;
  }
}
.footer__contact {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: $fourth-font-color;
  margin-bottom: 43px;
  margin-left: 70px;

  @include tablet {
    font-size: 14px;
    line-height: 1.86;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.86;
    padding-right: 116px;
  }
}
.footer__phone {
  text-decoration: none;
  color: $brand-color;
  font-weight: 500;

  &:hover,
  &:focus {
    color: $second-button-hover;
  }
}

.footer__copyright {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: $fifth-font-color;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  padding: 22px 0 25px;
}
.footer__copyright span {
  display: block;
}
.footer__box-social {
  display: flex;
  flex-direction: column;
  margin-left: 147px;
  margin-bottom: 46px;
}
.footer__href {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: $social-media-background;

  &:hover,
  &:focus {
    background-color: $social-media-hover;
  }

  @include tablet {
    width: 34px;
    height: 34px;
  }
}
