.background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: $modal-background;
  visibility: visible;
  opacity: 1;
  transition: visibility 250s ease-in-out;
}

.none {
  visibility: hidden;
  opacity: 0;
}

.is-hidden {
  transform: translatex(-100%);
}

.modal__content {
  position: relative;
  margin: 5px 10px auto 10px;
  padding: 10px;
  background-color: $fourth-background;
  box-shadow: 0px 8px 30px $modal-box-shadow;
  border-radius: 24px;

  transform: translatex(0);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;

  @include tablet {
    padding: 30px;
    margin: auto;
  }

  @include desktop {
    padding: 40px;
  }
}

.modal__x-button {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background-color: $social-media-background;
  cursor: pointer;

  @include desktop {
    top: 20px;
    right: 20px;
  }
}
