.pop-up-modal {
  overflow: scroll;
}

.pop-up-modal__content {
  width: auto;

  @include tablet {
    width: 450px;
  }
}

.pop-up-modal__header {
  font-family: $second-font;
  width: 80%;
  margin: 0 auto;
  padding: 24px 0;
  font-size: 24px;
  font-weight: 400;
  color: $brand-color;
  line-height: 1.145;
  text-align: center;

  @include tablet {
    font-size: 28px;
  }

  @include desktop {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.pop-up-modal__text {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.3;
  color: $fifth-font-color;
  text-align: center;
}

.pop-up-modal__content--location {
  padding: 20px;
  @include desktop {
    width: 1000px;
    padding: 40px;
  }
}
.pop-up-modal__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @include desktop {
    flex-direction: row;
    gap: 40px;
  }
}
.pop-up-modal__text--location {
  font-family: $second-font;
  font-size: 24px;
  color: $third-font-color;

  @include tablet {
    font-size: 28px;
  }

  @include desktop {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}
