.slider {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.slider__item {
  content: ' ';
  background-image: url('../images/icons.svg#customer-reviews__icon-slider-dot');
  width: 12px;
  height: 12px;
  border: 0;
  fill: $second-icon-color;
  display: block;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 18px;
  }
}

.slider__icon {
  fill: $second-icon-color;

  &--active {
    fill: $first-icon-color;
  }
}
