.swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
  gap: 18px;
  width: auto;
  padding: 0;
  margin: 0;
}

.swiper-pagination-bullet {
  display: block;
  padding: 0;
  margin: 0;
  content: ' ';
  background-image: url('../images/icon-slider-dot.svg');
  width: 12px;
  height: 12px;
  border: 0;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 250ms ease-in-out;
}

.swiper-pagination-bullet-active {
  background-image: url('../images/icon-slider-home.svg');
  background-color: transparent;
  transition: background-color 250ms ease-in-out;
}
