.about-container-background {
  position: relative;
  margin: 0 auto;

  background-image: url('../images/about__background-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 763px;
  @include mobile-retina {
    background-image: url('../images/about__background-mobile@2x.png');
  }
  @include tablet {
    background-image: none;
  }
  @include tablet-retina {
    background-image: none;
  }
  @include desktop {
    background-image: url('../images/about__background-desktop.png');
    background-position-y: 340px;
    max-width: 1280px;
  }
  @include desktop-retina {
    background-image: url('../images/about__background-desktop@2x.png');
  }
}

.about {
  background: $fourth-background;

  &__tittle {
    font-family: $second-font;
    font-style: normal;
    text-transform: uppercase;
  }

  &__tittle-style {
    text-align: center;
    list-style-type: none;
  }

  &__tittle-second {
    color: $third-font-color;
    font-size: 18px;
    line-height: 21px;
    padding-top: 125px;
    padding-bottom: 15px;
    margin: 0;

    @include tablet {
      font-size: 26px;
      line-height: 30px;
      padding-top: 130px;
      padding-bottom: 16px;
    }

    @include desktop {
      font-size: 30px;
      line-height: 34px;
      padding-bottom: 15px;
      padding-top: 125px;
    }
  }

  &__tittle-main {
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    color: $first-font-color;
    margin: 0 auto;
    max-width: 200px;
    transition: transform 1100ms ease-in-out;
    &:hover,
    &:focus {
      transform: scale(1.2);
    }

    @include tablet {
      font-size: 48px;
      line-height: 55px;
      max-width: 100%;
    }

    @include desktop {
      font-size: 58px;
      line-height: 66px;
      letter-spacing: 0.06em;
      overflow: visible;
    }
  }

  &__block {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19.44px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 0px;

    @include tablet {
      flex-direction: row;
      margin-top: 50px;
      padding-left: 0px;
      align-items: flex-start;
      padding-right: 0;
    }
    @include desktop {
      margin-top: 55px;
    }
  }

  &__block-picture {
    display: block;
    width: 280px;
    height: 279px;

    @include tablet {
      width: 340px;
      height: 339px;
      padding-top: 0;
    }
    @include desktop {
      width: 516px;
      height: 516px;
    }
  }

  &__block-text {
    margin-top: 46px;

    @include tablet {
      margin-top: 50px;
    }
    @include desktop {
      margin-top: 51px;
    }
  }
  &__block-text1 {
    font-weight: 500;
    line-height: 1.62;
    color: $fourth-font-color;
    margin: 0;
    margin-bottom: 33px;
    text-align: left;

    @include tablet {
      max-width: 340px;
      padding: 0;
      margin-left: 17px;
      margin-bottom: 35px;
      line-height: 25px;
    }
    @include desktop {
      font-size: 16px;
      max-width: 463px;
      line-height: 28px;
      padding-left: 57px;
    }
  }

  &__block-text2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $fifth-font-color;
    margin: 0;
    max-width: 100%;
    text-align: left;
    margin-bottom: 12px;

    @include tablet {
      max-width: 335px;
      padding: 0;
      margin-left: 17px;
      margin-bottom: 14px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.76;
    }
    @include desktop {
      max-width: 463px;
      margin-left: 74px;
      letter-spacing: 0.04em;
      line-height: 27px;
      margin-bottom: 28px;
    }
  }
  &__block-text3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $fifth-font-color;
    max-width: 100%;
    text-align: left;
    margin-bottom: 17px;
    margin-top: 0;

    @include tablet {
      max-width: 340px;
      padding: 0;
      margin-left: 17px;
      margin-bottom: 62px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.76;
    }

    @include desktop {
      max-width: 463px;
      margin-left: 74px;
      line-height: 28px;
      margin-bottom: 45px;
    }
  }

  &__block-button {
    text-align: left;

    @include tablet {
      margin-left: 0;
      padding-left: 17px;
    }
    @include desktop {
      padding-left: 70px;
    }
  }

  &__button {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: $first-font-color;
    width: 176px;
    height: 44px;
    background: $fifth-background;
    margin-bottom: 0;
    cursor: pointer;
    border: 0;
    border-radius: 22px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    &:hover {
      background-color: $second-button-hover;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  @include tablet {
    margin-top: 62px;
  }

  @include desktop {
    margin-top: 0;
  }
  &__icon {
    width: 4.4px;
    height: 8px;
    margin-left: 13.6px;
    padding-bottom: 16px;
  }
}

.is-hidden {
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
}

.modal {
  width: 300px;
  height: 500px;
  position: absolute;
  border-radius: 24px;
  background-color: $fourth-background;
  box-shadow: 0px 8px 30px #d4144431;
  padding: 40px;
  transition-property: transform;
  transform: 1100ms ease-in-out;
  max-width: 90%;
  background-image: url(./../images/about__background-mobile.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 60px;

  @include tablet {
    width: 350px;
    height: 570px;
  }
  @include tablet {
    width: 350px;
    height: 570px;
  }
  &__button-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 4px;
    background-color: $social-media-background;
    color: $second-font-color;
  }

  &__tittle {
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

  &__tittle-style {
    text-align: center;
    list-style-type: none;
  }

  &__tittle-txt {
    color: $brand-color;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    transition: transform 1100ms ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e179914a;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  display: flex;
  z-index: 10;
}

.modal-text {
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 0.04em;
  line-height: 1.7;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  @include tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__first {
    color: $first-button-hover;
    margin: 0;
    text-align: left;
  }

  &__second {
    color: $fifth-font-color;
    margin: 0;
    padding-top: 10px;
    text-align: left;
  }

  &__third {
    margin: 0;
    color: $first-button-hover;
    text-align: left;
    padding-top: 10px;
  }
}
.about-milk-background-modal {
  position: absolute;
  left: 0;
  top: 266px;
  width: 100%;
  background-repeat: no-repeat;
}

.about-milk-image-modal {
  width: 100%;
  position: fixed;
  background-position: center;
}
.about-milk-icon-box {
  position: relative;
  width: 75%;
  height: 50px;
  padding-top: 430px;
}

.about-milk-icon-modal {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 17px);
  transition: transform 1100ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
