.advantages {
  background-color: $fourth-background;
  padding-top: 39px;
  padding-bottom: 97px;
  @include tablet {
    padding-top: 66px;
    padding-bottom: 140px;
  }
  @include desktop {
    padding-top: 39px;
  }
}
.advantages__title {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}
.advantages__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 38px;
  padding: 0;
  margin: 0;
  @include tablet {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 60px;
  }
  @include desktop {
    gap: 30px;
  }
}
.advantages__item {
  width: 230px;
  @include tablet {
    width: 180px;
  }
  @include desktop {
    width: 330px;
  }
}
.advantages__quantity {
  display: block;
  font-family: $second-font;
  color: $first-font-color;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  transition: transform 1500ms linear;
  transform-origin: center left;
  @include tablet {
    font-size: 48px;
    line-height: 55px;
  }
  @include desktop {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 15px;
  }
  .advantages__item:hover & {
    transform: scale(1.2);
  }
  &::before {
    content: '';
    display: block;
    height: 50px;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    @include tablet {
      margin-bottom: 36px;
    }
    @include desktop {
      margin-bottom: 40px;
    }
  }
  &--first::before {
    background-image: url(../images/advantages__icon-milk-mobile.png);
    @include mobile-retina {
      background-image: url(../images/advantages__icon-milk-mobile@2x.png);
    }
    @include tablet {
      background-image: url(../images/advantages__icon-milk-tablet.png);
    }
    @include tablet-retina {
      background-image: url(../images/advantages__icon-milk-tablet@2x.png);
    }
    @include desktop {
      background-image: url(../images/advantages__icon-milk-desktop.png);
    }
    @include desktop-retina {
      background-image: url(../images/advantages__icon-milk-desktop@2x.png);
    }
  }
  &--second::before {
    background-image: url(../images/advantages__icon-fruit-mobile.png);
    @include mobile-retina {
      background-image: url(../images/advantages__icon-fruit-mobile@2x.png);
    }
    @include tablet {
      background-image: url(../images/advantages__icon-fruit-tablet.png);
    }
    @include tablet-retina {
      background-image: url(../images/advantages__icon-fruit-tablet@2x.png);
    }
    @include desktop {
      background-image: url(../images/advantages__icon-fruit-desktop.png);
    }
    @include desktop-retina {
      background-image: url(../images/advantages__icon-fruit-desktop@2x.png);
    }
  }
  &--third::before {
    background-image: url(../images/advantages__icon-lollipop-mobile.png);
    @include mobile-retina {
      background-image: url(../images/advantages__icon-lollipop-mobile@2x.png);
    }
    @include tablet {
      background-image: url(../images/advantages__icon-lollipop-tablet.png);
    }
    @include tablet-retina {
      background-image: url(../images/advantages__icon-lollipop-tablet@2x.png);
    }
    @include desktop {
      background-image: url(../images/advantages__icon-lollipop-desktop.png);
    }
    @include desktop-retina {
      background-image: url(../images/advantages__icon-lollipop-desktop@2x.png);
    }
  }
}
.advantages__text {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  @include tablet {
    font-size: 14px;
    line-height: 24px;
  }
  @include desktop {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
}
