.cont {
  background: linear-gradient(to bottom, $fifth-background 84px, $fourth-background 84px);

  @include tablet {
    background: linear-gradient(to bottom, $fifth-background 78px, $fourth-background 78px);
  }
  @include desktop {
    background: linear-gradient(to bottom, $fifth-background 102px, $fourth-background 102px);
  }
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile-retina {
    background-size: 0px 0px;
  }
  @include tablet-retina {
    background-size: 0px 0px;
  }
  @include desktop {
    max-width: 100%;
    background-image: url('../images/contacts__background-desktop.png');
    background-position-x: center;
    background-position-y: 102px;
    background-repeat: no-repeat;
    background-size: 1280px 380px;
  }
  @include desktop-retina {
    background-image: url('../images/contacts__background-desktop@2x.png');
  }

  &__title {
    visibility: hidden;
    position: absolute;
  }
  &__list {
    min-width: 220px;
    width: 100%;
    padding: 0;
    list-style: none;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    @include tablet {
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
      padding: 0;
      font-size: 14px;
    }
    @include desktop {
      gap: 30px;
      padding: 0;
      font-size: 16px;
    }
  }
  &__item {
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    background-color: $fifth-background;
    padding: 43px 21px;
    position: relative;
    border-radius: 24px;
    min-width: 220px;
    width: 100%;

    @include tablet {
      padding: 50px 31px;
      height: 544px;
    }
    @include desktop {
      padding: 50px 43px;
      height: 572px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    margin: 0;
    text-align: center;
    color: $second-font-color;
    border-radius: 4px;
    &--cafe {
      width: 80px;
      background-color: $second-background;
      @include tablet {
        width: 73px;
        font-size: 16px;
      }
    }
    &--foodtruck {
      width: 130px;
      background-color: $third-background;
      @include tablet {
        width: 138px;
        font-size: 16px;
      }
    }
  }
  &__address {
    padding-top: 25px;
    min-width: 179px;
    display: flex;
    flex-direction: column;
    color: $fourth-font-color;
    @include tablet {
      padding-top: 30px;
      max-height: 157px;
    }
    @include desktop {
      padding-top: 32px;
      max-height: 234px;
    }
  }
  &__city {
    margin: 0 0 10px 0;
  }
  &__desc {
    display: flex;
    width: 100%;
    color: $fifth-font-color;
    flex-direction: column;
    margin: 0;
    &::after {
      content: '';
      width: 100%;
      border-bottom: 2px solid $first-border-color;
      padding-bottom: 25px;
      @include tablet {
        padding-bottom: 30px;
        line-height: 1.66;
      }
      @include desktop {
        padding-bottom: 32px;
        font-size: 16px;
        line-height: 1.83;
      }
    }
  }
  &__open {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
    &::after {
      content: '';
      width: 100%;
      border-bottom: 2px solid $first-border-color;
      padding-bottom: 15px;
      margin: 0 0 25px 0;
      @include tablet {
        margin: 5px 0 30px 0;
      }
    }
    @include tablet {
      margin-top: 30px;
      line-height: 1.86;
    }
  }
  &__days {
    margin: 0;
  }
  &__hours {
    margin: 0 0 10px 0;
    color: $third-font-color;
  }
  &__media {
    color: $fifth-font-color;
    display: flex;
    flex-direction: column;

    @include desktop {
    }
  }
  &__tel {
    text-decoration: none;
    color: inherit;
    font-style: normal;
    line-height: 1.5;
    @include tablet {
      line-height: 1.83;
    }
  }
  &__mail {
    text-decoration: none;
    color: inherit;
    font-style: normal;
    line-height: 1.5;
    @include tablet {
      line-height: 1.83;
    }
  }

  &__box-buttons {
    padding-top: 54px;
    padding-bottom: 113px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @include tablet {
      flex-direction: row;
      gap: 15px;
      padding-top: 81px;
      padding-bottom: 158px;
    }
    @include desktop {
      padding-top: 86px;
      padding-bottom: 165px;
    }
  }
  &__button {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 161.45px;
    height: 44px;
    border-radius: 22px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;

    &--red {
      background-color: $brand-color;
      color: $fifth-background;
      gap: 8px;

      @include tablet {
        width: 191.45px;
        height: 44px;
        gap: 13px;
      }
      @include desktop {
        width: 198px;
        height: 44px;
        gap: 14px;
      }
    }
    &--white {
      background-color: $fifth-background;
      color: $brand-color;
      gap: 12px;

      @include tablet {
        width: 174.05px;
        height: 44px;
        gap: 13px;
      }
      @include desktop {
        width: 180px;
        height: 44px;
        gap: 14px;
      }
    }
  }
  .contacts__button--red,
  .contacts__button--red {
    background-color: $contacts-button-hover;
  }
  .contacts__button--red:hover,
  .contacts__button--red:focus {
    background-color: $first-button-hover;
  }
  .contacts__button--white:hover,
  .contacts__button--white:focus {
    background-color: $second-button-hover;
  }

  .contacts__button--white:hover .contacts__icon--white,
  .contacts__button--white:focus .contacts__icon--white {
    fill: $second-button-hover;
    stroke: $social-media-hover;
  }

  .contacts__icon--red {
    fill: transparent;
    stroke: $fifth-background;
    margin-top: 4px;
    transition: fill 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .contacts__icon--white {
    fill: transparent;
    stroke: $first-font-color;
    margin-top: 4px;
  }
}
