.customer-reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $fifth-background;
  padding: 80px 86px;

  @include tablet {
    padding: 121px 40px 119px;
  }

  @include desktop {
    padding: 123px 61px 132px;
  }
}

.customer-reviews__header {
  position: absolute;
  visibility: hidden;
}

.customer-reviews__picture {
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 19px;
  }

  @include desktop {
    margin-bottom: 15px;
  }
}

.customer-reviews__review {
  background-color: $sixth-background;
  padding: 43px 50px 19px;
  margin-bottom: 24px;

  @include tablet {
    margin: 0 38px 24px;
    padding: 47px 80px 34px;
  }

  @include desktop {
    margin: 0 62px 34px;
    width: 926px;
  }
}

.customer-reviews__linear-background {
  position: relative;
  background-image: repeating-linear-gradient(
    to bottom,
    $sixth-background,
    $sixth-background 30px,
    $seventh-background 30px,
    $seventh-background 31px
  );
  width: 180px;

  @include tablet {
    width: 524px;
  }

  @include desktop {
    width: 813px;
  }
}

.customer-reviews__text {
  padding: 6px 7px 0 16px;
  font-family: $main-font;
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 2.55;
  font-weight: 500;
  text-align: center;

  @include tablet {
    padding: 6px 20px 0 44px;
    font-size: 14px;
    line-height: 2.16;
  }

  @include desktop {
    padding: 6px 28px 0 35px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.customer-reviews__quotation-icon {
  position: absolute;
  top: -10px;
  left: 3px;
  fill: $seventh-background;
}

.custom-reviews__dots-icon {
  fill: $third-icon-color;
}

.customer-reviews__signature {
  margin: 18px 0 30px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;

  @include tablet {
    margin: 14px 0 35px;
    font-size: 16px;
  }

  @include desktop {
    margin: 15px 0 35px;
    font-size: 20px;
  }
}
