.footer {
  background-color: $fourth-background;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 89px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $first-border-color;

    @include tablet {
      bottom: 68px;
    }
    @include desktop {
      bottom: 40px;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__top-division {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-block: 0px;
    padding-bottom: 0px;
  }

  &__top-division-title {
    display: flex;
    flex-direction: column;
    font-family: $second-font;
    color: $third-font-color;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.166;
    padding-top: 0px; // do ustalenia z osobą wykonującą sekcję CONTACTA !!!
    margin-block: 0;
    max-width: 232px;

    @include tablet {
      font-size: 26px;
      max-width: 340px;
      line-height: 1.145;
      letter-spacing: 0.04em;
      padding-top: 7px;
    }
    @include desktop {
      font-size: 30px;
      max-width: 478px;
      padding-top: 0px;
    }
  }
  &__top-division-title--different-part {
    display: flex;
    font-family: $second-font;
    color: $brand-color;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 34px;
    line-height: 1.147;
    padding-top: 17px;
    padding-bottom: 43px;

    @include tablet {
      font-size: 48px;
      line-height: 1.146;
      letter-spacing: 0.06em;
      padding-top: 16px;
      padding-bottom: 91px;
    }
    @include desktop {
      font-size: 58px;
      line-height: 1.138;
      padding-top: 15px;
      padding-bottom: 97px;
    }
  }

  &__contacts-division {
    padding-bottom: 43px;

    @include tablet {
      display: flex;
      min-width: fit-content;
      flex-direction: column;
    }
  }

  &__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 28.24px;
    margin-block: 0;
    @include tablet {
      gap: 30px;
    }
    @include desktop {
      gap: 25px;
    }
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: $social-media-background;
    transition: all 250ms ease-in-out;

    &:hover,
    &:focus {
      background-color: $social-media-hover;
    }

    @include tablet {
      width: 34px;
      height: 34px;
    }
  }

  &__contact {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    margin-top: 46px;
    margin-bottom: 0; // bylo 43px;
    padding-block: 0px;
    margin-inline: 0px;

    @include tablet {
      margin-top: 50px;
    }
  }

  &__contact-text {
    display: inline-block;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: $fourth-font-color;
    //   margin-bottom: 43px;
    margin-block: 0;
    margin-inline: 0;
    min-width: fit-content;

    @include tablet {
      font-size: 14px;
      line-height: 1.86;
    }

    @include desktop {
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.02em;
    }
  }
  &__contact-phone {
    display: inline-block;
    text-decoration: none;
    color: $brand-color;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    min-width: fit-content;

    @include tablet {
      font-size: 14px;
      line-height: 1.86;
    }

    @include desktop {
      font-size: 16px;
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    color: $fifth-font-color;
    text-align: center;
    padding: 22px 10px 25px 0;

    @include tablet {
      padding: 29px 0 18px 0;
    }
    @include desktop {
      padding: 9px 0 10px 0;
    }
  }

  .footer__copyright-list {
    list-style-type: none;
    margin-block: 0;
    padding-left: 0px;
    padding-block: 0;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3px;
    }
  }

  &__copyright-list-element {
    position: relative;
  }

  &__m-powered-logo {
    position: absolute;
    left: -43px;
    top: 11px;
    scale: 0;
    will-change: scale;
    transition-property: scale;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__copyright-list:hover &__m-powered-logo {
    scale: 2.2;
  }

  @include tablet {
    .footer__m-powered-logo {
      left: -45px;
      top: 0;
    }
    .footer__copyright-list:hover .footer__m-powered-logo {
      scale: 2;
    }
  }
  @include desktop {
    .footer__m-powered-logo {
      left: -40px;
      top: -2px;
    }
    .footer__copyright-list:hover .footer__m-powered-logo {
      scale: 1.25;
    }
  }
}
