.gallery .container {
  position: relative;
  padding: 0 0;
}
.gallery {
  width: 100%;
  height: 122px;
  background-position: center;
  background-color: $fourth-background;
  background-repeat: no-repeat;
  background: linear-gradient(
    to bottom,
    $fourth-background 48px,
    $fifth-background 48px,
    $fifth-background
  );
  @include tablet {
    height: 264px;
    background: linear-gradient(
      to bottom,
      $fourth-background 103px,
      $fifth-background 103px,
      $fifth-background
    );
  }
  @include desktop {
    height: 430px;
    background: linear-gradient(
      to bottom,
      $fourth-background 171px,
      $fifth-background 171px,
      $fifth-background
    );
  }
  &__image {
    display: block;
    max-width: 364px;
    height: auto;
    position: absolute;
    left: -18px;
    top: -1px;

    @include tablet {
      max-width: 692px;
      height: 264px;
      left: 85px;
    }
    @include desktop {
      max-width: 1280px;
      height: 430px;
      left: 0;
      top: -2px;
    }
  }
}
