.header * {
  margin-block: 0;
  z-index: 0;
}

.header__wrapper {
  position: relative;
}

.header {
  background-color: $first-background;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.header__btn-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__btn-hamburger {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.header__background-image {
  position: absolute;
  right: 15%;
  z-index: -1;
}

.header__background-image-circle {
  margin-right: -20px;
  top: 83px;
  right: -62px;
  width: 348px;
}
.header__background-image-ice-cream {
  margin-right: -20px;
  bottom: -2px;
  right: 32px;
  width: 171px;
}
.header__background-image-lady {
  display: none;
}
.header__coffee-info {
  display: none;
  position: fixed;
}
.header__truck-info {
  display: none;
}
.header__coffee-amount {
  color: $first-font-color;
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.143;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: $fifth-background;
    border-radius: 50%;
    z-index: -1;
  }
}
.header__coffee-describe {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 18px;
  color: $second-font-color;
  text-align: right;
}

.header__truck-amount {
  color: $first-font-color;
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    right: -7px;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: $fifth-background;
    border-radius: 50%;
    z-index: -1;
  }
}
.header__truck-describe {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 18px;
  color: $second-font-color;
  text-align: right;
}

.header__bar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 6px 0 0 0;
  margin-right: 0;
  align-items: center;
}

.header__logo {
  height: 53px;
  cursor: pointer;
  z-index: 2;
}
.header__nav {
  display: none;

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 35px;
    z-index: 2;
  }
}

.header__main-button {
  display: none;
}
.header__left-side {
  width: 220px;
  padding-top: 137px;
  display: flex;
  flex-direction: column;
}
.header__title {
  max-width: 220px;
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $second-font-color;
}
.header__title--describe {
  font-size: 48px;
  line-height: 96.5%;
  letter-spacing: 0.04em;
  color: $first-font-color;
  padding: 0;
}
.header__buttons {
  display: flex;
  gap: 8px;
  padding-top: 20px;
  padding-bottom: 157px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 18px;
}
.button-link {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}

.header__left-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62.4px;
  height: 24px;
  background-color: $brand-color;
  border: 0;
  border-radius: 20px;
  color: $fifth-background;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $first-button-hover;
  }
}

.header__right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82.8px;
  height: 24px;
  background-color: $fifth-background;
  border: 0;
  border-radius: 22px;
  color: $brand-color;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $second-button-hover;
  }
}
.header__deco-image {
  display: none;
}
.header__describe-text {
  display: none;
}
.header__left-bar-wrapper {
  display: none;
}
.header__button {
  display: none;
}

@include tablet {
  .header__background-image-circle {
    margin-right: -34px;
    top: 31px;
    right: 137px;
    width: 324px;
  }
  .header__background-image-ice-cream {
    margin-right: -34px;
    right: 247px;
    width: 143px;
  }
  .header__background-image-lady {
    display: block;
    position: absolute;
    margin-right: -34px;
    bottom: -2px;
    right: 34px;
    width: 168px;
  }
  .header__coffee-info {
    display: block;
    position: absolute;
    top: 94px;
    right: 0;
    text-align: right;
  }
  .header__truck-info {
    display: block;
    position: absolute;
    top: 151px;
    right: 0;
    text-align: right;
  }

  .header__bar-wrapper {
    padding: 38px 0 0 0;
    margin-right: -8px;
  }

  .header__main-button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 35px;
    background-color: $fifth-background;
    border: 0;
    border-radius: 22px;
    color: $brand-color;
    cursor: pointer;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    z-index: 12;
    &:hover {
      background-color: $second-button-hover;
    }
    .header__button-ico {
      fill: transparent;
      stroke: $first-button-hover;
    }
  }
  .header__left-side {
    width: 418px;
    padding-top: 15px;
  }
  .header__title {
    max-width: 180px;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    padding-top: 3px;
  }
  .header__title--describe {
    font-size: 34px;
    line-height: 90.5%;
    padding: 0;
  }
  .header__buttons {
    gap: 15px;
    padding-bottom: 19px;
  }

  .header__deco-image {
    display: block;
    z-index: -1;
    width: 124px;
    margin-left: 0px;
  }
  .header__describe-text {
    display: block;
    max-width: 135px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: $second-font-color;
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
  }
  .header__left-bar-wrapper {
    display: flex;
    gap: 0px;
    max-width: 270px;
    align-items: flex-end;
    padding-bottom: 28px;
  }

  .header__lorem-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-left: 6px;
    overflow: hidden;
    gap: 7px;
    padding-bottom: 8px;
  }

  .header__button {
    display: block;
    align-items: center;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-image: url('../images/icon-arrow-in-circle-all.png');
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: 0;
    transform: rotate(0);
    opacity: 1;
    border: 0;
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    z-index: 2;

    @include mobile-retina {
      background-image: url('../images/icon-arrow-in-circle-all@2x.png');
    }

    &:hover,
    &:focus {
      opacity: 0.9;
      background-image: linear-gradient(rgba(236, 235, 235, 0.3), rgba(236, 235, 235, 0.3)),
        url('../images/icon-arrow-in-circle-all.png');
      transform: rotate(-90deg);
    }
  }

  .header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67%;
    font-family: $second-font;
    font-size: 15px;
    color: $first-font-color;
    text-align: center;
    transform: translateY(100%);
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;

    &--one {
      background-color: $overlay-color-one;
      visibility: hidden;
      opacity: 0;
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: ease-in-out;
    }
  }

  .header__button--one:hover + .header__overlay--one {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@include desktop {
  .header__burger {
    display: none;
  }

  .header__background-image-circle {
    margin-right: -115px;
    top: 52px;
    right: 267px;
    width: 538px;
  }
  .header__background-image-ice-cream {
    margin-right: -115px;
    right: 450px;
    width: 236px;
  }
  .header__background-image-lady {
    margin-right: -115px;
    right: 109px;
    width: 293px;
  }
  .header__coffee-info {
    margin-right: -115px;
    top: 156px;
    right: 10%;
  }
  .header__truck-info {
    margin-right: -115px;
    top: 248px;
    right: 10%;
  }

  .header__bar-wrapper {
    padding: 38px 0 0 0;
    margin-right: 0;
  }

  .header__coffee-amount {
    font-size: 46px;
    line-height: 53px;
  }
  .header__coffee-describe {
    font-size: 14px;
  }

  .header__truck-amount {
    font-size: 46px;
    line-height: 53px;
  }
  .header__truck-describe {
    font-size: 14px;
  }

  .header__coffee-amount::after {
    content: '';
    right: -15px;
    top: -5px;
    width: 30px;
    height: 30px;
  }
  .header__truck-amount::after {
    content: '';
    right: -15px;
    top: -5px;
    width: 30px;
    height: 30px;
  }

  .header__nav-element {
    display: block;
    padding-block: 0;
    scale: 1;
    will-change: scale;
    transition-property: scale;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__nav-element:hover,
  .header__nav-element:active {
    will-change: scale;
    scale: 1.2;
  }

  .header__nav-link {
    text-decoration: none;
    color: $second-font-color;
    cursor: pointer;
    z-index: 100;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    z-index: 2;
  }

  .header__logo {
    margin-left: -69px;
  }

  .header__nav-link--active {
    color: $first-font-color;
  }

  .header__main-button {
    gap: 13px;
    padding: 12px 37px;
  }
  .header__left-side {
    padding-top: 84px;
  }
  .header__title {
    max-width: 300px;
    font-size: 38px;
    line-height: 44px;
  }
  .header__title--describe {
    font-size: 58px;
    padding: 0;
  }
  .header__buttons {
    padding-top: 25px;
    padding-bottom: 56px;
    font-size: 14px;
  }

  .header__deco-image {
    width: 191px;
  }

  .header__left-button {
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: 1.286;
  }

  .header__right-button {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: 1.286;
  }

  .header__describe-text {
    max-width: 200px;
    font-size: 14px;
    margin-left: 0px;
    line-height: 1.4;
  }
  .header__left-bar-wrapper {
    justify-content: space-between;
    gap: 30px;
    max-width: 600px;
    padding-bottom: 45px;
    margin-left: -38px;
    margin-right: 38px;
  }

  .header__btn-arrow {
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 11px;
    margin-left: 0;
    width: 26px;
  }

  .header__overlay {
    width: 100%;
    height: 70%;
    font-size: 21px;
  }
  .header__lorem-wrapper {
    gap: 16px;
    padding-bottom: 11px;
  }
  .header__button {
    width: 26px;
    height: 26px;
  }
}

// Snow animation
.snow {
  position: absolute;
  max-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 45s infinite linear;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
